@font-face {
  font-family: "Overpass Mono Semi";
  src: url('../public/OverpassMono-SemiBold.ttf');
}

@font-face {
  font-family: "Overpass Mono Reg";
  src: url('../public/OverpassMono-Regular.ttf');
}

.darkApp {
  width: 100vw;
  height: 100vh;
  text-align: left;
  color: #ffffff;
  position: relative;
  background-color: #141414;
  /* background-color: #212121; */
}

.lightApp {
  text-align: left;
  color: #000000;
  position: relative;
  background-color: #ffffff;
}

.Layout {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.darkPanel {
  border-radius: 5px;
  background-color: #212121;
  /* background-color: #191919; */
  box-shadow: 2px 2px 5px #000000, -2px -2px 5px #2e2e2e; 
  overflow: hidden;
  width: 100%;
  margin: 5px;
}

.lightPanel {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #000000; 
  overflow: hidden;
  width: 100%;
  margin: 5px;
}

.subpanel {
  border-radius: 5px;
  background-color: inherit;
  box-shadow: 2px 2px 5px #000000, -2px -2px 5px #2e2e2e;
}

.bordered {
  border: none;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.splash {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0; 
  text-align: center;
  height: 100vh;
  width: 100vw; 
  z-index: 1000;
}

.splashFade{
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: all 1s linear 0s;
}

.statusIndicator {
  border-radius: 5px;
  width: 50%; 
  box-shadow: 2px 2px 5px #000000;
}

.customButtonLg {
  width: 130px;
  height: 40px;
  margin: 0px 0px 0px 5px;
  letter-spacing: 0.5px;
  font-weight: 550;
  background-color: #2e2e2e;
  color: #ffffff;
  box-shadow: 2px 2px 5px #000000; 
  font-size: 1em;
  border: 2px solid #ED5031;
  border-radius: 20px;
  cursor: pointer;
}

.customButtonSm {
  width: auto;
  height: auto;
  margin: 5px;
  letter-spacing: 0.5px;
  background-color: #2e2e2e;
  color: #ffffff;
  box-shadow: 2px 2px 5px #000000; 
  font-size: 1em;
  border: 1.5px solid #ED5031;
  border-radius: 20px;
  cursor: pointer;
}

.customButtonLg:hover {
  border: 3px solid #ED5031;
  box-shadow: 2px 2px 5px 2px #000000;
}

.customButtonLg:active {
  background-color: #ED5031;
  border: 1.5px solid #ED5031;
  box-shadow: 0px 0px 0px 0px #000000;
}


.customButtonSm:hover {
  background-color: #ED5031;
  border: 1.5px solid #ED5031;
  box-shadow: 2px 2px 5px 2px #000000;
}

.active{
  background-color: #ED5031;
  border: 1.5px solid #ED5031;
  box-shadow: 4px 4px 5px 2px #000000; 
}


.VehicleStatus {

}

.ControlPanel {

}

.SystemPanel {

}

.GaugeCluster {

}

.TitlePlate {
  height: 100%;
  width: 100%;
  color: #BD1E01;
  text-align: center;
  position: relative;
}

.title {
  text-align: center;
}

.subTitle {
  text-align: center;
  margin: 0;
  padding: 0;

}

.mono {
  font-family: 'Courier New', monospace;
  font-weight: 400;
}

.MissionStatus {
  height: 100%;
  width: 100%;
}

.Visualization {

}

.MissionTimeline {

}

h1 {
  font-family: 'Trebuchet MS', 'Courier New', monospace;
  text-shadow: 2px 2px 5px #000000;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h3 {
  padding: 0px 20px 0px ;
  font-family: 'Trebuchet MS', sans-serif;
}

h4 {
  padding: 0px 20px 0px;
}

hr {
  color: #212121;
  background-color: #212121;
  border-color: #212121;
  height: 1;
}