.App {
  background-color: #042A2B;
  text-align: left;
  color: #F7F7FF
}

.bordered {
  border: none;
}

.hidden {
  display: none;
}

.VehicleStatus {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

.ControlPanel {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
 
  width: 100%;
  margin: 5px;
}

.SystemPanel {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

.GaugeCluster {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

.TitlePlate {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  color: #BD1E01;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.MissionStatus {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

.Visualization {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

.MissionTimeline {
  border-radius: 5px;
  background-color: #021212;
  box-shadow: 2px 2px 5px #011111; 
  width: 100%;
  margin: 5px;
}

h1 {
  font-family: 'Courier New', monospace;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h3 {
  padding: 0px 20px 0px ;
  font-family: 'Trebuchet MS', sans-serif;
}

h4 {
  margin-top: 0px;
}

hr {
  color: #042A2B;
  background-color: #042A2B;
  border-color: #042A2B;
  height: 1;
}